body {
    background-color: #FFFEEB;
    margin: 0;
    font-family: 'Arial';
    letter-spacing: 0.1em;
    line-height: 125%;
    font-weight: lighter;
    min-height: 100vh;
}
#block-body {
    width: 85%;
    height: auto;
    margin: 20px auto;
    padding-top: 2em;
    min-height: 80vh;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 50px;
}
header {
    height: 50px;
    width: auto;
    margin: 0px auto;
    padding: 0px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
}
header a {
    text-decoration: none;
    font-weight: normal;
    color: black;
}
.logo {
    height: 50px;
    margin-left: 7%;
    display: flex;
    align-items: center;
}
.logo span {
    font-size: 32px;
    font-weight: lighter;
}
.top-menu {
    height: 50px;
    margin: 0px;
    padding: 0px 0px;
    list-style: none;
    display: flex;
    align-items: center;
}
.in_out{
    margin-right: 7%;
}
.top-menu a {
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    font-weight: normal;
    width: auto;
    color: black;
    padding: 15px 25px 15px;
    display: block;
}
.top-menu li:hover {
    transition: all 0.5s ease;
    background-color: #f7ebd3;
}
.info{
    width: 90%;
}
.info h2 {
    font-weight: normal;
}
footer {
    position: relative;
    margin: -50px auto 0;
    width: 85%;
    display: flex;
    justify-content: center;
}
