<div class="block-body">
@model UniversityMap.Models.Map

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit map</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form class="box-form-create" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
             <div class="form-group">
                <input asp-for="Name" class="form-control" placeholder="Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Floor" class="form-control" placeholder="Floor" />
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="SvgMap" class="form-control" placeholder="SvgMap"/>
                <span asp-validation-for="SvgMap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="JQueryScript" class="form-control" placeholder="JQueryScript" />
                <span asp-validation-for="JQueryScript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</div>