@model Map

<h1>Салам Алейкум всем нашим!</h1>
<p>Потерялся? Ну наконец-то ты сможешь юзнуть карту! Просто заполни форму ниже и перейди к нужному корпусу Сиииииииииииииу</p>

@foreach (var building in (char[])ViewData["Buildings"])
{
    <button onclick="document.location='@ViewData["Url"]/@building'">Корпус @building</button>
}

<div class="container" id="map" style="width: 600px; height: 600px"></div>