<div class="block-body">
@model Map

<h1>Выберите корпус для просмотра подробной карты:</h1>


@foreach (var building in (string[])ViewData["Names"])
{
    <button onclick="document.location='@ViewData["Url"]/@building'">Корпус @building</button>
}

<div class="container" id="map" style="width: 600px; height: 600px"></div>
</div>