@{
    ViewData["Title"] = "О Проекте";
}

<div class="greeting">
    <div class="greeting-overlay">
        <div class="greeting-content-wrap">
            <h1>Потерялся в КФУ?</h1>
            <h2>Используй карты!</h2>
        </div>
    </div>
</div>

<div class="block-body">
    <div class="info">
        <h2>О проекте</h2>
        <p>CFU-Map - навигационная онлайн-карта Крымского Федерального университета, созданная в качестве курсового проекта группой студентов КФУ. Цель проекта - помочь первокурсникам и гостям ориентироваться на территории университета.</p>
    
        <h2>Наша команда</h2>
        <p>
            <ul>
                <li>Порозов Кирилл - лидер команды, backend, распределение задач и процессов.</li>
                <li>Свиридов Павел - backend.</li>
                <li>Тимченко Ирина - frontend.</li>
                <li>Пугач Давид - frontend, работа с документацией.</li>
                <li>Яровой Максим - frontend.</li>
            </ul>
        </p>

        <h2>Планы развития</h2>
        <p>
            <ul>
                <li>Добавление большего объема информации на карты, включая фотографии, панорамы, информацию об аудиториях (например какие пары в ней проходят, сколько в ней мест, какие преподаватели и какие группы в какое время находятся в этой аудитории) и т.д.</li>
                <li>Связывание карт с расписанием и добавление возможности видеть, где проходит текущая пара.</li>
            </ul>
        </p>

        <h2>Контакты</h2>
        <p>Вопросы и предложения присылайте на почту: ...</p>
    </div>
</div>